:root {
  --primary: #4628ff;
  --warning: #ffd028;
  --danger: #ff2828;
  --success: #e50914;
  --white: #f2f8f8;
  --dark: #181706;
  --grey: #808380;
}

.btn {
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-0.3px);
}

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  text-decoration: none;
}
.btn--warning--solid {
  background-color: var(--warning);
  color: var(--white);
  border: none;
  text-decoration: none;
}
.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: none;
  text-decoration: none;
}
.btn--success--solid {
  background-color: var(--success);
  color: var(--white);
  text-decoration: none;
  border-radius: 3px;
}
.btn--primary--outline {
  background-color: var(--primary);
  color: var(--white);
  border: 2px;

  text-decoration: none;
}
.btn--warning--outline {
  background-color: var(--warning);
  color: var(--white);
  border: 2px;
  text-decoration: none;
}
.btn--danger--outline {
  background-color: var(--danger);
  color: var(--white);
  border: 2px;

  text-decoration: none;
}
.btn--warning--outline {
  background-color: var(--white);
  color: var(--white);
  border: 2px;
  text-decoration: none;
}

.btn--primary--disabled {
  background-color: var(--grey);
  color: var(--white);
  margin-top: 10px;
  pointer-events: none;
  text-decoration: none;
}
